@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

* {
  font-family: "Tilt Warp", sans-serif;
}

body {
  margin: 0;
}

.text-shadow {
  text-shadow: -1px -1px 1px white;
}

form input:-webkit-autofill,
form input:-webkit-autofill:focus,
form input:-webkit-autofill:hover,
form textarea:-webkit-autofill,
form textarea:-webkit-autofill:focus,
form textarea:-webkit-autofill:hover,
form input:-internal-autofill-selected,
form textarea:-internal-autofill-selected {
    -webkit-text-fill-color: #d1d5db;
    transition: background-color 5000s ease-in-out 0s !important;
}
